<h1>Drag Demo</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/app-boundary" routerLinkActive="active">Boundary Component【边界受限】</a></li>
    <li><a routerLink="/app-positionlocking" routerLinkActive="active">Positionlocking Component【方向受限】</a></li>
    <li><a routerLink="/app-connectedsortinggroup" routerLinkActive="active">Connectedsortinggroup Component【分类连接group】</a></li>
    <li><a routerLink="/app-connectedsorting" routerLinkActive="active">Connectedsorting Component【分类连接】</a></li>
    <li><a routerLink="/app-evenpredicate" routerLinkActive="active">Evenpredicate Component【分类偶数校验】</a></li>
    <li><a routerLink="/app-customplaceholder" routerLinkActive="active">Customplaceholder Component【自定义占位样式】</a></li>
    <li><a routerLink="/app-custompreview" routerLinkActive="active">Custompreview Component【自定义预览】</a></li>
    <li><a routerLink="/app-delayeddragging" routerLinkActive="active">Delayeddragging Component【延时拖拽】</a></li>
    <li><a routerLink="/app-disabledsorting" routerLinkActive="active">Disabledsorting Component【左边禁用排序】</a></li>
    <li><a routerLink="/app-disabled" routerLinkActive="active">Disabled Component【元素不可拖拽】</a></li>
    <li><a routerLink="/app-withhandle" routerLinkActive="active">Withhandle Component【操作手柄】</a></li>
    <li><a routerLink="/app-horizontalsorting" routerLinkActive="active">Horizontalsorting Component【横向list拖拽】</a></li>
    <li><a routerLink="/app-alternateroot" routerLinkActive="active">Alternateroot Component</a></li>
    <li><a routerLink="/app-sorting" routerLinkActive="active">Sorting Component【标准分类】</a></li>


  </ul>
</nav>
<!-- The routed views render in the <router-outlet>  下部分展示-->
<router-outlet></router-outlet>
